@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;

  height: 100vh;

  font-family: 'Inter', Verdana, Tahoma, sans-serif;
  line-height: 1.3rem;
  color: #697268;
}

.logo-sidebar {
  background-image: url(./images/sky-moon-gradient.jpg);
  background-size: cover;
}

.logo-sidebar .logo {
  width: 100%;
  height: 120px;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}

main {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
}

main .hero {
  padding: 70px 0 0 25px;
  background-color: #CED0CE;
}

/* | Form */

main .form-section {
  padding: 15px 0 0 30px;
  background-color: #E6E8E6;
}

main .form-section h1 {
  height: 20%;
}

main .form-section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  height: 80%;
}

main .action {
  background-color: #CED0CE;
}